、@charset "utf-8";
*{padding: 0;margin: 0;}
body{font-size: 14px;letter-spacing: 1px;width: 100%;background: url(../img/bg.jpg) no-repeat;background-size: 100% 100%;font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';}
.bg{position:absolute;width: 100%;height: 100%;overflow: hidden;background: #0052b7;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none;}
button:focus{outline:0;}
textarea:focus{outline:0;}
input:focus{outline:0;}
ul,li{list-style: none;}
a{text-decoration: none;}
img{border:none;}
.content_right{display: block;margin-left: 224px;margin-right: 0;margin-top: 0;min-height: 100%;padding:0 15px;background: white;}
.widgt{border: 1px solid #e1e1e1;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;margin: 0;padding: 0;min-height: 100px;background: rgb(240,242,245);padding: 20px 0;}
.wedgt{-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;margin: 0;padding: 0;min-height: 100px;}
.title{font-size: 20px;font-weight: 700;}
.title img{margin-right: 8px;}
.child_title{font-size: 18px;font-weight: 700;height: 55px;line-height:55px;border-bottom: 2px solid rgba(240, 242, 245, 1);}
.child_nav{height: 24px;line-height: 24px;width: 320px;display: flex;align-items: center;justify-content: space-between;margin: 30px 0 20px;}
.child_nav li img{width: 24px;height: 24px;margin-right: 6px;}
/*产品中心*/
.child_product{height: 184px;background: #ffffff;box-shadow: 0px 0px 3px rgba(0,0,0,0.2);padding: 0;}
.add{height: 184px;line-height: 184px;text-align: center;color: #666666;}
.product_des{height: 136px;padding:15px 15px 0;}
.product_des img{float: left;margin-right: 8px;}
.product_des h4{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.product_des p{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.cz{height: 47px;line-height: 47px;background-color: rgba(247, 249, 250, 1);color: #666666;border: 1px solid rgba(233,233,233,1);}
.cz p{width: 49%;float: left;text-align: center;}
.cz .linY{height: 20px;width: 1px;background: rgba(233,233,233,1);display: block;float: left;margin-top: 14px;}
/*项目中心*/
#hw1_search_box { width: 486px;height:36px;margin:10px auto 50px;border-radius: 20px;}
#hw1_search_box input[type="text"] { width: 416px;height: 36px;padding: 0 10px;font-size: 16px;float: left;  }
#hw1_search_box input[type="button"] {width: 70px;height: 36px;float: right;top:0;cursor:pointer;border: 0;right: 0;background: rgba(24, 144, 255, 1);color: #ffffff;}
input::-webkit-input-placeholder{/*Webkit browsers*/
    color:#666666;
}
input:-moz-placeholder{/*Mozilla Firefox 4 to 8*/
   color:#666666;
}
input::moz-placeholder{/*Mozilla Firefox 19+*/
   color:#666666;
}
input:-ms-input-placeholder{/*Internet Explorer 10+*/
    color:#666666;
}
.main_box{width: 98%;margin:auto;padding: 12px 2%;background: white;min-height:50px;}
.main_box .fenlei_box{width: 100%;padding-bottom: 10px;position: relative;}
.main_box .fenlei_box .fl_child_box{margin-bottom: 10px;width: 100%;}
.main_box .fenlei_box .fl_child_box .fl_left{height: 32px;float:left;color: #000000;text-align: center;line-height: 32px;}
.main_box .fenlei_box .fl_child_box .fl_right{float: right;width: 92%;overflow:hidden;height: 32px;background: url(../img/line.png) no-repeat;background-size: 100% 1px;background-position: bottom;}
.main_box .fenlei_box .fl_child_box .fl_right.active{height: auto;}
.main_box .fenlei_box .fl_child_box .fl_right .more{right: 0;color: #2181d4;line-height: 26px;padding: 0 10px;position: absolute;margin-top: -8px;}
.main_box .fenlei_box .fl_child_box .fl_right .more .more_bg{margin-left: 2px;border: none;}
.main_box .fenlei_box .fl_child_box .fl_right .more a{color: #2181d4;}
.main_box .fenlei_box .fl_child_box .fl_right ul{width: 900px;}
.main_box .fenlei_box .fl_child_box .fl_right ul li{padding: 5px 9px;float: left;}
.main_box .fenlei_box .fl_child_box .fl_right a{color: #666666;}
.main_box .fenlei_box .fl_child_box .fl_right a:hover{color:#007AFF;text-decoration: underline;cursor: pointer;}
.main_box .fenlei_box .fl_child_box .fl_right .fl-input{width: 49%;float: left;padding-left: 1%;}
.main_box .fenlei_box .fl_child_box .fl_right .fl-input input{height: 32px;width: 70%;padding: 2%;}
.child_xm{height: 164px;background: #ffffff;box-shadow: 0px 0px 3px rgba(0,0,0,0.2);padding: 0;}
.xm_des{height: 124px;padding:15px 15px 0;}
.xm_des img{float: left;margin-right: 8px;}
.xm_des h4{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 3px;}
.xm_des p{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.xm_des table{margin: auto;width: 74%;}
.xm_des table thead th{color: rgba(0,0,0,0.24);}
.xm_des table tbody th{font-size: 24px;color: rgba(0,0,0,0.64);}
.xz_cz{height: 39px;line-height: 39px;background-color: rgba(247, 249, 250, 1);color: #666666;border: 1px solid rgba(233,233,233,1);}
.xz_cz p{width: 24%;float: left;text-align: center;}
.xz_cz .linY{height: 20px;width: 1px;background: rgba(233,233,233,1);display: block;float: left;margin-top: 14px;}
.pages{height: 40px;line-height: 40px;}
.pages p{float: left;color: rgba(0,0,0,0.64);}
.pages .pages-btn{float: right;}
.pages .pages-btn p{width: 32px;height: 32px;border-radius: 6px;text-align: center;line-height: 32px;border: 1px solid rgba(217, 217, 217, 1);margin: 3.5px 4px;background: #ffffff;}
.pages .pages-btn p a{color: rgba(0,0,0,0.64);}
.pages .pages-btn p.active{background: #007AFF;border: none;}
.pages .pages-btn p.active a{color: #ffffff;}
.pages .pages-btn p:hover{background: #007AFF;border: none;}
.pages .pages-btn p:hover a{color: #ffffff;text-decoration: none;}
.fm-left,.fm-right{line-height: 30px;font-size: 14px;color: rgba(0,0,0,0.65);}
.fm-left{float: left;margin-left: 36px;}
.fm-right{margin-left: 360px;}
.fm_des{height: 130px;border-bottom: 3px solid rgba(240, 242, 245, 1);}
textarea{width: 94%;height: 100px;border-radius: 6px;padding: 10px 2%;margin-left: 3%;border:1px solid rgb(217,217,217);margin-top: 10px;}
.fm_progress{width:100%;margin:auto;height: 130px;border-bottom: 3px solid rgba(240, 242, 245, 1);position: relative;}


.fm_progress div.line{height: 2px;width: 115px;margin: auto;/*background: rgb(217,217,217);*/}
.fm_progress div.line span{display: inline-block;width: 115px;height: 2px;background: rgb(217,217,217);}
.fm_progress div.line span.active{background: #0072ff;}

.fm_progress div.quan{width: 14px;margin:auto;margin-bottom: 12px;}
.fm_progress div.quan span{display: inline-block;width: 14px;height: 14px;background: rgb(217,217,217);border-radius: 50%;margin: 0 -moz-calc((100% - 84px)/5) 0 0;margin: 0 -webkit-calc((100% - 84px)/5) 0 0;margin: 5px calc((100% - 84px)/5) 0 0;}
.fm_progress div.quan span.active{width:14px;height:14px;background: #0072ff;margin-right: 0;margin: 0 -moz-calc((100% - 84px)/5) 0 0;margin: 0 -webkit-calc((100% - 84px)/5) 0 0;margin: 5px calc((100% - 84px)/5) 0 0;}

.fm_progress div.lc_name{/*margin-left: -26px;*/}
.fm_progress div.lc_name span{width:115px;font-size: 16px;color: rgba(0,0,0,0.35);display: inline-block;text-align: center;}
.fm_progress div.lc_name span.active{color: rgba(0,0,0,0.84);}

.fm_progress div.per_name{/*margin-left: -26px;*/}
.fm_progress div.per_name span{width:115px;font-size: 14px;color: rgba(0,0,0,0.35);display: inline-block;text-align: center;}

.fm_progress div.lc_time{/*margin-left: -26px;*/}
.fm_progress div.lc_time span{width:115px;font-size: 14px;color: rgba(0,0,0,0.35);display: inline-block;text-align: center;}

.fm_progress div.itemDiv div.lc_name,
.fm_progress div.itemDiv div.per_name,
.fm_progress div.itemDiv div.lc_time
{margin-left:-50px;}



.fm_progress p{height: 20px;line-height: 20px;}
.fm_progress p.quan{  width: 88%;margin:auto;margin-bottom: 12px;}
.fm_progress p.quan span{display: inline-block;width: 14px;height: 14px;background: rgb(217,217,217);border-radius: 50%;margin: 0 -moz-calc((100% - 84px)/5) 0 0;margin: 0 -webkit-calc((100% - 84px)/5) 0 0;margin: 0 calc((100% - 84px)/5) 0 0;}
.fm_progress p.quan span.active{width:14px;height:14px;background: #0072ff;margin-right: 0;margin: 0 -moz-calc((100% - 84px)/5) 0 0;margin: 0 -webkit-calc((100% - 84px)/5) 0 0;margin: 5px calc((100% - 84px)/5) 0 0;}
.fm_progress p.quan span:last-child{margin-right: 0;}

.fm_progress p.line{height: 2px;width: 89%;margin: auto;margin-left: 6.5%;/*background: rgb(217,217,217);*/}
.fm_progress p.line span{display: inline-block;width: 19.5%;height: 2px;background: rgb(217,217,217);}
.fm_progress p.line span.active{background: #0072ff;}

.fm_progress p.lc_name{/*margin-left: -26px;*/}
.fm_progress p.lc_name span{width:16.66%;font-size: 16px;color: rgba(0,0,0,0.35);display: inline-block;text-align: center;}
.fm_progress p.lc_name span.active{color: rgba(0,0,0,0.84);}

.fm_progress p.per_name{/*margin-left: -26px;*/}
.fm_progress p.per_name span{width:16.66%;font-size: 14px;color: rgba(0,0,0,0.35);display: inline-block;text-align: center;}

.fm_progress p.lc_time{/*margin-left: -64px;*/}
.fm_progress p.lc_time span{width: 16.66%;display: inline-block;font-size: 14px;color: rgba(0,0,0,0.35);text-align: center;}

.tab_fa{width:100%;margin:auto;padding:0 2%;height: 50px;border-bottom: 2px solid rgba(240, 242, 245, 1);}
.tab{margin:0;padding:0;list-style:none;float: left;}
.tab li{float:left;padding:0 18px;height:50px;color: rgba(0,0,0,0.85);text-align:center;line-height:50px;cursor:pointer;font-size: 14px;}
.tab li span{color: #ff0000;font-weight: 700;}
.tab li.cur{color: #007AFF;border-bottom: 2px solid #007AFF;}
.tab_list{width:100%;margin:20px auto;padding:0 2%;display:none;padding-bottom: 20px;}
.tab_list.on{display:block;}
.tab_list table{width: 100%;margin-bottom: 10px;}
.tab_list table thead{height: 54px;border: 1px solid rgba(235, 235, 235, 1);background: rgba(250, 250, 250, 1);line-height: 54px;color: rgba(0,0,0,0.85);}
.tab_list table th{height: 54px;line-height: 54px;}
.tab_list table th:first-child{width: 8%;text-align: center;}
.tab_list table tbody th{border-bottom: 1px solid rgba(235, 235, 235, 1);color: #666666;font-weight: 400;}
.tab_list table tbody th a{color: #3366FF;}
#hw2_search_box { width: 172px;height:32px;margin:9px 0;border-radius: 6px;float: right;border: 1px solid rgba(217, 217, 217, 1);}
#hw2_search_box input[type="text"] { width: 138px;height: 30px;padding: 0 5px;font-size: 14px;float: left;border:none;border-radius: 6px;}
#hw2_search_box input[type="button"] {width: 32px;height: 32px;float: right;top:0;cursor:pointer;border: 0;right: 0;background: url(../img/search.png) center center no-repeat;border-radius: 6px;}
